@model User

<form method="post">
    <h2>Create User</h2>
    <div class=mb-3>
        <label asp-for=name></label>
        <input asp-for=name class="form-control"/>
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class=mb-3>
        <label asp-for=age></label>
        <input asp-for=age class="form-control"/>
        <span asp-validation-for="age" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-secondary" asp-controller="Users" asp-action="Index">Back to list</a>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}